* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

.title {
  text-align: center;
}

#headshot {
  height: 90%;
  width: 90%;
}

.title-column {
  float: left;
  width: 50%;
  padding: 10px;
}

.title-row:after {
  content: "";
  display: table;
  clear: both;
}

#column1{
  background-color: red;
}

#column2 {
  background-color: green;
}

.skills {
  background-color: #FFC09F;
  border: 20px;
  padding: 40px;
  text-align: center;
}

.column {
  float: left;
  width: 25%;
  padding: 0 30px;
}

@media screen and (max-width: 600px) {
  .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0;
  padding: 10px;
  text-align: center;
  background-color: #FCF5C7 !important;
}

.projects {
  background-color: #79ADDC;
  border: 20px;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-projects {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-teal {
  background-color: #47bcd4;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.certificates {
  background-color: #FFC09F;
  margin: 0;
  border: 20px;
  padding: 20px;
  text-align: center;
}

.interest {
  background-color: #79ADDC;
  border: 20px;
  padding: 20px;
  text-align: center;
}

.contact {
  background-color: #FFC09F;
  border: 20px;
  padding: 20px;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 20px !important;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-envelope {
  background: red;
  color: white;
}

.fa-download {
  background: salmon;
  color: black;
}